<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/poker_project/src/edu/kcg/Poker/Tester/HandCheckerTester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.kcg.Poker.Tester.HandCheckerTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="poker_project"/>
</launchConfiguration>
